*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: black;
    color: aqua;
    text-align: center;
    height: 5rem;
    line-height: 2rem;
}
.choices{
    margin-top: 100px;
    display: flex;
    gap: 5;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.choice {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid aqua;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.choice:hover {
    opacity: 0.8;
    cursor: pointer;
    background: linear-gradient(45deg, black, aqua);
    transition: background 0.3s ease;
}


img {
    height: 190px;
    width: 190px;
    object-fit: cover;
    border-radius: 20%;
    border: 2px solid aqua;
}

.scorecard{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    gap :  5rem;
    margin-top: 50px;
    
}

.info-score{
    margin-left: 30px;
}

.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    
    padding: 20px;
    
}

/* #msg{
    background-color: black;
    color: aqua;
    font-size: 3rem;
    display: inline;
    border-radius: 1rem;
    padding: 20px;
} */
h1 {
    background-color: black;
    color: aqua;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
#msg {
    background-color: black;
    color: aqua;
    font-size: 3rem;
    display: inline;
    border-radius: 1rem;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.1rem;
}

