*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: black;
    color: aqua;
    text-align: center;
    height: 5rem;
    line-height: 2rem;
}
.choices{
    margin-top: 100px;
    display: flex;
    gap: 5;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.choice:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: black;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

img{
    height: 190px;
    width: 190px;
    object-fit: cover;
    border-radius: 20%;
}

.scorecard{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    gap :  5rem;
    margin-top: 50px;
    
}

.info-score{
    margin-left: 30px;
}

.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    
    padding: 20px;
    
}

#msg{
    background-color: black;
    color: aqua;
    font-size: 3rem;
    display: inline;
    border-radius: 1rem;
    padding: 20px;
}

